<!doctype <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="utf-8">
	<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>

    {% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body  style="background: #2B8981">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <nav class="navbar navbar-default no-padding no-margin" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-Jack-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" style="font-size: 24px;font-weight: bold" href="">流金岁月</a>
                    </div>

                    <div class="collapse navbar-collapse navbar-right" id="bs-Jack-navbar-collapse-1">
                        <ul class="nav navbar-nav" style="font-size: 18px">
                            <li><a href="">咬文嚼字</a></li>
                            <li><a href="">图说生活</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            {% for blog in blogs %}
            <ul  style="border-radius: 4px;background-color: white; padding-top: 4px; margin-top: 8px;padding-bottom: 4px">
                <h4><a href="" style="color: #333;text-decoration: underline; padding-right: 4px">{{ blog.blog_title }}</a></h4>
                <p style="font-style: italic; padding-right: 6px">{{ blog.blog_time }}</p>
                <p style="padding-right: 18px">
                        {{ blog.blog_body }}
                </p>
            </ul>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <nav style="text-align: center">
              <ul class="pagination">
                {% if blogs.has_previous %}
                    <li>
                      <a href="?page={{ last_page }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                {% else  %}
                    <li class="disabled">
                        <span aria-hidden="true">&laquo;</span>
                    </li>
                {% endif %}

                <script language="JavaScript" type="text/javascript">
                    for (i=1; i<= {{ total_page }}; i++) {
                        document.write("<li><a href='?page="+ i + "'>" + i + "</a></li>");
                    }
                </script>

                {% if blogs.has_next %}
                    <li>
                      <a href="?page={{ next_page }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                {% else %}
                    <li class="disabled">
                        <span aria-hidden="true">&raquo;</span>
                    </li>
                {% endif %}

              </ul>
            </nav>

            <nav style="text-align: center; color: #ffffff">
                <p>
                    Curent Page: {{ current_page }}/{{ total_page }}
                </p>
                <p>
                    Current Time:
                    <script language="JavaScript" type="text/javascript">
                        document.write(document.lastModified);
                    </script>
                </p>
            </nav>

        </div>
    </div>
</div>



<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</body>
</html>
